<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Anna Bella Oficial - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="centralizar">
        <img src="~/Imagens/capa.png" />
        <div id="menu">
            <a class="linkMenu" asp-controller="Home" asp-action="Index">HOME</a> |
            <a class="linkMenu" asp-controller="Biografias" asp-action="Index">BIOGRAFIA</a> |
            <a class="linkMenu" asp-controller="Campanhas" asp-action="Index">CAMPANHAS PUBLICITÁRIAS</a> |
            <a class="linkMenu" asp-controller="Contatos" asp-action="Index">CONTATO</a>
        </div>
    </header>
    <!--Início conteúdo-->
    <div id="conteudo">
        @RenderBody()
    </div>
    <!--Fim conteúdo-->
    <footer id="footer">
        <div>
            <h4>&copy; 2021 - Anna Bella - Todos os direitos reservados</h4>
        </div>
    </footer>
</body>
</html>
