body {
    background: #d2d2c1 url('../Imagens/fundo.png');
    font: 16px Arial, Helvetica, sans-serif;
    width: 900px;
    margin: 0px auto
}

/* navbar */

#menu {
    background: #c2c2b5;
    padding: 18px;
}

.linkMenu {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

 /* Conteúdo */

#conteudo {
    background: #e8e8d9;
    padding: 15px;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

.imgCampanha {
    border: 10px solid #c3c3ae;
}


/* footer */
#footer {
    text-align: center;
}

 /* Padronizações */

.centralizar {
    text-align: center;
}